<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Todo App</h1>
    <form method="post" action="/submit">
      <input
        id="task-input"
        type="text"
        name="task"
        placeholder="Enter your task"
      />
      <button id="btn">Add</button>
    </form>
    <ul>
      <% for(let todo of todos){%>
      <li><%= todo %><button class="dlt-btn">Delete</button></li>
      <% } %>
    </ul>
  </body>
</html>
